### Scrape For CSV Data

In [1]:
import pandas as pd

# Thanks to the website at GitHub for the data!
data_url = "https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports/"
data_dfs = []
data_count = 0

for x in range(0, 11):
    for y in range(31):
        if x < 9:
            if y < 9:
                csv_name = f"0{x + 1}-0{y + 1}-2020.csv"
            else:
                csv_name = f"0{x + 1}-{y + 1}-2020.csv"                
        elif y < 9:
            csv_name = f"{x + 1}-0{y + 1}-2020.csv"
        else:
            csv_name = f"{x + 1}-{y + 1}-2020.csv"                

        try:
            data_tables = pd.read_html(data_url + csv_name)
            data_dfs.append(data_tables[0])
            data_count += 1
        except:
            print(f"The csv '{csv_name}' was not found")

data_dfs[-1].head()

The csv '01-01-2020.csv' was not found
The csv '01-02-2020.csv' was not found
The csv '01-03-2020.csv' was not found
The csv '01-04-2020.csv' was not found
The csv '01-05-2020.csv' was not found
The csv '01-06-2020.csv' was not found
The csv '01-07-2020.csv' was not found
The csv '01-08-2020.csv' was not found
The csv '01-09-2020.csv' was not found
The csv '01-10-2020.csv' was not found
The csv '01-11-2020.csv' was not found
The csv '01-12-2020.csv' was not found
The csv '01-13-2020.csv' was not found
The csv '01-14-2020.csv' was not found
The csv '01-15-2020.csv' was not found
The csv '01-16-2020.csv' was not found
The csv '01-17-2020.csv' was not found
The csv '01-18-2020.csv' was not found
The csv '01-19-2020.csv' was not found
The csv '01-20-2020.csv' was not found
The csv '01-21-2020.csv' was not found
The csv '02-30-2020.csv' was not found
The csv '02-31-2020.csv' was not found
The csv '04-31-2020.csv' was not found
The csv '06-31-2020.csv' was not found
The csv '09-31-2020.csv' was not found
The csv '11-24-2020.csv' was not found
The csv '11-25-2020.csv' was not found
The csv '11-26-2020.csv' was not found
The csv '11-27-2020.csv' was not found
The csv '11-28-2020.csv' was not found
The csv '11-29-2020.csv' was not found
The csv '11-30-2020.csv' was not found
The csv '11-31-2020.csv' was not found

    0                                                  1
0 NaN  FIPS,Admin2,Province_State,Country_Region,Last...
1 NaN  ,,,Afghanistan,2020-11-24 05:27:31,33.93911,67...
2 NaN  ,,,Albania,2020-11-24 05:27:31,41.1533,20.1683...
3 NaN  ,,,Algeria,2020-11-24 05:27:31,28.0339,1.6596,...
4 NaN  ,,,Andorra,2020-11-24 05:27:31,42.5063,1.5218,...

### Clean the Data

In [37]:
print(data_count)

data_formats = []
test_df = pd.DataFrame()

print(data_dfs[234].columns)

# for i in range(data_count):
#     # First check to see if the website consolidated the data to 2 columns
#     print(len(data_dfs[i].columns))
#     if (len(data_dfs[i].columns) == 2):
#         test_df = pd.DataFrame(columns=(data_dfs[i].loc[0, 1].split(',')))
#         print(test_df.columns)
#     # Now remove any unwanted columns
#     try:
#         data_dfs[i] = data_dfs[i].drop(columns='Unnamed: 0')
#     except KeyError:
#         print(f"The column 'Unnamed: 0' is not in dataframe {i}")
#
#     try:
#         data_dfs[i] = data_dfs[i].drop(columns='Unnamed: 0')
#     except KeyError:
#         print(f"The column 'Unnamed: 0' is not in dataframe {i}")\
#
#     # Finally, remove any row from the DF that isn't US data

307
Int64Index([0, 1], dtype='int64')

### Now Put it all in one DataFrame (and Save to CSV)

In [38]:
main_df = pd.DataFrame()

for df in data_dfs:
    main_df = main_df.append(df)

main_df.to_csv('Data/US_Data.csv')
main_df.head(5)

,0,1,Active,Admin2,Case-Fatality_Ratio,Combined_Key,Confirmed,Country/Region,Country_Region,Deaths,...,Last Update,Last_Update,Lat,Latitude,Long_,Longitude,Province/State,Province_State,Recovered,Unnamed: 0
0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Mainland China,NaN,NaN,...,1/22/2020 17:00,NaN,NaN,NaN,NaN,NaN,Anhui,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,14.0,Mainland China,NaN,NaN,...,1/22/2020 17:00,NaN,NaN,NaN,NaN,NaN,Beijing,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Mainland China,NaN,NaN,...,1/22/2020 17:00,NaN,NaN,NaN,NaN,NaN,Chongqing,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Mainland China,NaN,NaN,...,1/22/2020 17:00,NaN,NaN,NaN,NaN,NaN,Fujian,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mainland China,NaN,NaN,...,1/22/2020 17:00,NaN,NaN,NaN,NaN,NaN,Gansu,NaN,NaN,NaN