### Scrape For CSV Data

In [1]:
import pandas as pd

# Thanks to the website at GitHub for the data!
data_url = "https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports/"
data_dfs = []
data_count = 0

for x in range(0, 11):
    for y in range(31):
        if x < 9:
            if y < 9:
                csv_name = f"0{x + 1}-0{y + 1}-2020.csv"
                record_date = f"0{x + 1}-0{y + 1}-2020"
            else:
                csv_name = f"0{x + 1}-{y + 1}-2020.csv"                
                record_date = f"0{x + 1}-{y + 1}-2020"
        elif y < 9:
            csv_name = f"{x + 1}-0{y + 1}-2020.csv"
            record_date = f"{x + 1}-0{y + 1}-2020"
        else:
            csv_name = f"{x + 1}-{y + 1}-2020.csv"                
            record_date = f"{x + 1}-{y + 1}-2020"

        try:
            data_tables = pd.read_html(data_url + csv_name)
            data_tables[0]['Record Date'] = [f"{record_date}"]*(data_tables[0].count().max())
            data_dfs.append(data_tables[0])
            data_count += 1
        except:
            print(f"The csv '{csv_name}' was not found")

data_dfs[-1].head()

The csv '01-01-2020.csv' was not found
The csv '01-02-2020.csv' was not found
The csv '01-03-2020.csv' was not found
The csv '01-04-2020.csv' was not found
The csv '01-05-2020.csv' was not found
The csv '01-06-2020.csv' was not found
The csv '01-07-2020.csv' was not found
The csv '01-08-2020.csv' was not found
The csv '01-09-2020.csv' was not found
The csv '01-10-2020.csv' was not found
The csv '01-11-2020.csv' was not found
The csv '01-12-2020.csv' was not found
The csv '01-13-2020.csv' was not found
The csv '01-14-2020.csv' was not found
The csv '01-15-2020.csv' was not found
The csv '01-16-2020.csv' was not found
The csv '01-17-2020.csv' was not found
The csv '01-18-2020.csv' was not found
The csv '01-19-2020.csv' was not found
The csv '01-20-2020.csv' was not found
The csv '01-21-2020.csv' was not found
The csv '02-30-2020.csv' was not found
The csv '02-31-2020.csv' was not found
The csv '04-31-2020.csv' was not found
The csv '06-31-2020.csv' was not found
The csv '09-31-2020.csv' was not found
The csv '11-29-2020.csv' was not found
The csv '11-30-2020.csv' was not found
The csv '11-31-2020.csv' was not found

    0                                                  1 Record Date
0 NaN  FIPS,Admin2,Province_State,Country_Region,Last...  11-28-2020
1 NaN  ,,,Afghanistan,2020-11-29 05:25:55,33.93911,67...  11-28-2020
2 NaN  ,,,Albania,2020-11-29 05:25:55,41.1533,20.1683...  11-28-2020
3 NaN  ,,,Algeria,2020-11-29 05:25:55,28.0339,1.6596,...  11-28-2020
4 NaN  ,,,Andorra,2020-11-29 05:25:55,42.5063,1.5218,...  11-28-2020

### Clean the Data

In [2]:
data_formats = []
test_df = pd.DataFrame()

for i in range(data_count):
    # First check to see if the website consolidated the data into a non-scrape
    # -friendly version of the data table
    if (len(data_dfs[i].columns) == 3):
        record_date = data_dfs[i]['Record Date'][0]
        test_df = pd.DataFrame(columns=(data_dfs[i].loc[0, 1].split(',')))
        
        for j in range(1, data_dfs[i].count().max()):
            test_df.append(data_dfs[i].loc[j, 1].split(','))

        test_df['Record Date'] = [record_date]*test_df.count().max()
        data_dfs[i] = test_df

    # Now remove any unwanted columns
    try:
        data_dfs[i] = data_dfs[i].drop(columns='Unnamed: 0')
    except KeyError:
        print(f"The column 'Unnamed: 0' is not in dataframe {i}")

    try:
        data_dfs[i] = data_dfs[i].drop(columns='FIPS')
    except KeyError:
        print(f"The column 'FIPS' is not in dataframe {i}")

    # Next, rename the columns for consitency
    data_dfs[i] = data_dfs[i].rename(
        columns={
            "Province_State" : "State",
            "Province/State" : "State",
            "Country_Region" : "Country",
            "Country/Region" : "Country",
            "Last_Update" : "Last Update",
            "Lat" : "Latitude",
            "Long_" : "Longitude",
            "Case-Fatality_Ratio" : "Case-Fatality Ratio",
            "Case_Fatality_Ratio" : "Case-Fatality Ratio",
            "Incident_Rate" : "Incident Rate",
            "Incidence_Rate" : "Incident Rate",
            'Admin2' : 'County',
        }
    )

    # Finally, remove any row from the DF that isn't US data
    data_dfs[i] = data_dfs[i].loc[data_dfs[i]['Country'] == 'US']

The column 'FIPS' is not in dataframe 0
The column 'FIPS' is not in dataframe 1
The column 'FIPS' is not in dataframe 2
The column 'FIPS' is not in dataframe 3
The column 'FIPS' is not in dataframe 4
The column 'FIPS' is not in dataframe 5
The column 'FIPS' is not in dataframe 6
The column 'FIPS' is not in dataframe 7
The column 'FIPS' is not in dataframe 8
The column 'FIPS' is not in dataframe 9
The column 'FIPS' is not in dataframe 10
The column 'FIPS' is not in dataframe 11
The column 'FIPS' is not in dataframe 12
The column 'FIPS' is not in dataframe 13
The column 'FIPS' is not in dataframe 14
The column 'FIPS' is not in dataframe 15
The column 'FIPS' is not in dataframe 16
The column 'FIPS' is not in dataframe 17
The column 'FIPS' is not in dataframe 18
The column 'FIPS' is not in dataframe 19
The column 'FIPS' is not in dataframe 20
The column 'FIPS' is not in dataframe 21
The column 'FIPS' is not in dataframe 22
The column 'FIPS' is not in dataframe 23
The column 'FIPS' is not in dataframe 24
The column 'FIPS' is not in dataframe 25
The column 'FIPS' is not in dataframe 26
The column 'FIPS' is not in dataframe 27
The column 'FIPS' is not in dataframe 28
The column 'FIPS' is not in dataframe 29
The column 'FIPS' is not in dataframe 30
The column 'FIPS' is not in dataframe 31
The column 'FIPS' is not in dataframe 32
The column 'FIPS' is not in dataframe 33
The column 'FIPS' is not in dataframe 34
The column 'FIPS' is not in dataframe 35
The column 'FIPS' is not in dataframe 36
The column 'FIPS' is not in dataframe 37
The column 'FIPS' is not in dataframe 38
The column 'FIPS' is not in dataframe 39
The column 'FIPS' is not in dataframe 40
The column 'FIPS' is not in dataframe 41
The column 'FIPS' is not in dataframe 42
The column 'FIPS' is not in dataframe 43
The column 'FIPS' is not in dataframe 44
The column 'FIPS' is not in dataframe 45
The column 'FIPS' is not in dataframe 46
The column 'FIPS' is not in dataframe 47
The column 'FIPS' is not in dataframe 48
The column 'FIPS' is not in dataframe 49
The column 'FIPS' is not in dataframe 50
The column 'FIPS' is not in dataframe 51
The column 'FIPS' is not in dataframe 52
The column 'FIPS' is not in dataframe 53
The column 'FIPS' is not in dataframe 54
The column 'FIPS' is not in dataframe 55
The column 'FIPS' is not in dataframe 56
The column 'FIPS' is not in dataframe 57
The column 'FIPS' is not in dataframe 58
The column 'FIPS' is not in dataframe 59
The column 'Unnamed: 0' is not in dataframe 178
The column 'Unnamed: 0' is not in dataframe 179
The column 'Unnamed: 0' is not in dataframe 180
The column 'Unnamed: 0' is not in dataframe 181
The column 'Unnamed: 0' is not in dataframe 182
The column 'Unnamed: 0' is not in dataframe 183
The column 'Unnamed: 0' is not in dataframe 184
The column 'Unnamed: 0' is not in dataframe 185
The column 'Unnamed: 0' is not in dataframe 186
The column 'Unnamed: 0' is not in dataframe 187
The column 'Unnamed: 0' is not in dataframe 188
The column 'Unnamed: 0' is not in dataframe 189
The column 'Unnamed: 0' is not in dataframe 190
The column 'Unnamed: 0' is not in dataframe 191
The column 'Unnamed: 0' is not in dataframe 192
The column 'Unnamed: 0' is not in dataframe 193
The column 'Unnamed: 0' is not in dataframe 194
The column 'Unnamed: 0' is not in dataframe 195
The column 'Unnamed: 0' is not in dataframe 196
The column 'Unnamed: 0' is not in dataframe 197
The column 'Unnamed: 0' is not in dataframe 198
The column 'Unnamed: 0' is not in dataframe 199
The column 'Unnamed: 0' is not in dataframe 200
The column 'Unnamed: 0' is not in dataframe 201
The column 'Unnamed: 0' is not in dataframe 202
The column 'Unnamed: 0' is not in dataframe 203
The column 'Unnamed: 0' is not in dataframe 204
The column 'Unnamed: 0' is not in dataframe 205
The column 'Unnamed: 0' is not in dataframe 206
The column 'Unnamed: 0' is not in dataframe 207
The column 'Unnamed: 0' is not in dataframe 208
The column 'Unnamed: 0' is not in dataframe 210
The column 'Unnamed: 0' is not in dataframe 211
The column 'Unnamed: 0' is not in dataframe 212
The column 'Unnamed: 0' is not in dataframe 213
The column 'Unnamed: 0' is not in dataframe 214
The column 'Unnamed: 0' is not in dataframe 215
The column 'Unnamed: 0' is not in dataframe 216
The column 'Unnamed: 0' is not in dataframe 217
The column 'Unnamed: 0' is not in dataframe 218
The column 'Unnamed: 0' is not in dataframe 219
The column 'Unnamed: 0' is not in dataframe 220
The column 'Unnamed: 0' is not in dataframe 221
The column 'Unnamed: 0' is not in dataframe 222
The column 'Unnamed: 0' is not in dataframe 223
The column 'Unnamed: 0' is not in dataframe 224
The column 'Unnamed: 0' is not in dataframe 225
The column 'Unnamed: 0' is not in dataframe 226
The column 'Unnamed: 0' is not in dataframe 227
The column 'Unnamed: 0' is not in dataframe 228
The column 'Unnamed: 0' is not in dataframe 229
The column 'Unnamed: 0' is not in dataframe 230
The column 'Unnamed: 0' is not in dataframe 231
The column 'Unnamed: 0' is not in dataframe 232
The column 'Unnamed: 0' is not in dataframe 233
The column 'Unnamed: 0' is not in dataframe 234
The column 'Unnamed: 0' is not in dataframe 236
The column 'Unnamed: 0' is not in dataframe 237
The column 'Unnamed: 0' is not in dataframe 250
The column 'Unnamed: 0' is not in dataframe 251
The column 'Unnamed: 0' is not in dataframe 252
The column 'Unnamed: 0' is not in dataframe 253
The column 'Unnamed: 0' is not in dataframe 254
The column 'Unnamed: 0' is not in dataframe 255
The column 'Unnamed: 0' is not in dataframe 256
The column 'Unnamed: 0' is not in dataframe 257
The column 'Unnamed: 0' is not in dataframe 258
The column 'Unnamed: 0' is not in dataframe 259
The column 'Unnamed: 0' is not in dataframe 260
The column 'Unnamed: 0' is not in dataframe 261
The column 'Unnamed: 0' is not in dataframe 262
The column 'Unnamed: 0' is not in dataframe 263
The column 'Unnamed: 0' is not in dataframe 264
The column 'Unnamed: 0' is not in dataframe 265
The column 'Unnamed: 0' is not in dataframe 266
The column 'Unnamed: 0' is not in dataframe 267
The column 'Unnamed: 0' is not in dataframe 268
The column 'Unnamed: 0' is not in dataframe 269
The column 'Unnamed: 0' is not in dataframe 270
The column 'Unnamed: 0' is not in dataframe 271
The column 'Unnamed: 0' is not in dataframe 272
The column 'Unnamed: 0' is not in dataframe 273
The column 'Unnamed: 0' is not in dataframe 274
The column 'Unnamed: 0' is not in dataframe 275
The column 'Unnamed: 0' is not in dataframe 276
The column 'Unnamed: 0' is not in dataframe 277
The column 'Unnamed: 0' is not in dataframe 278
The column 'Unnamed: 0' is not in dataframe 279
The column 'Unnamed: 0' is not in dataframe 280
The column 'Unnamed: 0' is not in dataframe 281
The column 'Unnamed: 0' is not in dataframe 282
The column 'Unnamed: 0' is not in dataframe 283
The column 'Unnamed: 0' is not in dataframe 284
The column 'Unnamed: 0' is not in dataframe 285
The column 'Unnamed: 0' is not in dataframe 286
The column 'Unnamed: 0' is not in dataframe 287
The column 'Unnamed: 0' is not in dataframe 288
The column 'Unnamed: 0' is not in dataframe 289
The column 'Unnamed: 0' is not in dataframe 290
The column 'Unnamed: 0' is not in dataframe 291
The column 'Unnamed: 0' is not in dataframe 292
The column 'Unnamed: 0' is not in dataframe 293
The column 'Unnamed: 0' is not in dataframe 294
The column 'Unnamed: 0' is not in dataframe 295
The column 'Unnamed: 0' is not in dataframe 296
The column 'Unnamed: 0' is not in dataframe 297
The column 'Unnamed: 0' is not in dataframe 298
The column 'Unnamed: 0' is not in dataframe 299
The column 'Unnamed: 0' is not in dataframe 300
The column 'Unnamed: 0' is not in dataframe 301
The column 'Unnamed: 0' is not in dataframe 302
The column 'Unnamed: 0' is not in dataframe 303
The column 'Unnamed: 0' is not in dataframe 304
The column 'Unnamed: 0' is not in dataframe 305
The column 'Unnamed: 0' is not in dataframe 306
The column 'Unnamed: 0' is not in dataframe 307
The column 'Unnamed: 0' is not in dataframe 308
The column 'Unnamed: 0' is not in dataframe 309
The column 'Unnamed: 0' is not in dataframe 310
The column 'Unnamed: 0' is not in dataframe 311

### Now Put it all in one DataFrame (and Save to CSV)

In [4]:
main_df = pd.DataFrame()

for df in data_dfs:
    main_df = main_df.append(df)

main_df.to_csv('Data/US_Data.csv')

main_df.head(-3)

,State,Country,Last Update,Confirmed,Deaths,Recovered,Record Date,Latitude,Longitude,County,Active,Combined_Key,Incident Rate,Case-Fatality Ratio
31,Washington,US,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Washington,US,1/23/20 17:00,1.0,NaN,NaN,01-23-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Washington,US,1/24/20 17:00,1.0,NaN,NaN,01-24-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Chicago,US,1/24/20 17:00,1.0,NaN,NaN,01-24-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Washington,US,1/25/20 17:00,1.0,NaN,NaN,01-25-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,Wyoming,US,2020-09-28 04:23:00,289.0,4.0,0.0,09-27-2020,44.790489,-106.886239,Sheridan,285.0,"Sheridan, Wyoming, US",948.007217,1.384083
3897,Wyoming,US,2020-09-28 04:23:00,97.0,1.0,0.0,09-27-2020,42.765583,-109.913092,Sublette,96.0,"Sublette, Wyoming, US",986.674804,1.030928
3898,Wyoming,US,2020-09-28 04:23:00,335.0,2.0,0.0,09-27-2020,41.659439,-108.882788,Sweetwater,333.0,"Sweetwater, Wyoming, US",791.157925,0.597015
3899,Wyoming,US,2020-09-28 04:23:00,554.0,1.0,0.0,09-27-2020,43.935225,-110.589080,Teton,553.0,"Teton, Wyoming, US",2361.063757,0.180505
3900,Wyoming,US,2020-09-28 04:23:00,352.0,2.0,0.0,09-27-2020,41.287818,-110.547578,Uinta,350.0,"Uinta, Wyoming, US",1740.334223,0.568182